<div class="admin newUsers">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<h3>{{title}}</h3>
		</div>
	</div>
	<table st-table="rowCollection" class="table table-striped">
		<thead>
			<tr>
				<th>Username</th>
			</tr>
			<tr>
				<th>
					<input st-search="username" placeholder="search for username" class="input-sm form-control" type="search"/>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in newUsers">
				<td>{{row.username}}</td>
			</tr>
		</tbody>
	</table>
</div>