<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>






<div id="slidesh">
     <img src="{{image}}" class="animated slideInLeft" > 
     <div id="slideshdesc"><p><a href="#/events/{{id}}">{{title}}</a></p></div>
</div>




<style>
#slidesh { 

    position: relative; 
    width: 100%; 
    height: 350px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  
}
#slidesh img { 
   
    width: 100%; 
    height: 100%; 
    margin-left: 0%;
    margin-right: :0%;
    bottom: 0%;
 

}
#slideshdesc { 
   position: absolute; 
    width: 100%; 
    height: 15%; 
    margin-left: 0%;
    margin-right: :0%;
    bottom: 0%;
    background: rgba(0, 0, 0, .4);


}
#slideshdesc p { 

   color:white;
   margin-left: 5%;
   font-size: 14 px;
   
    
}
#slideshdesc a { 

   color:white;
   margin-left: 5%;
   font-size: 14 px;
   
    
}


</style>


