<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>

<body ng-controller="SliderCtrl">

<div class="container slider">
   <img ng-repeat="slide in slides" class="slide slide-animation"
        ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
   
     <div style="float:right" ><a class="waves-effect waves-light btn" ng-click="nextSlide()" >Next Slide</a></div>
	<div style="float:left" ><a class="waves-effect waves-light btn" ng-click="prevSlide()" >Previous Slide</a></div>
		        
</div>



<body ng-controller="MainCtrl">