<div class="row">
	<div class="col s1">
	</div>
	<div class="go Back">
		<a href="#/news"><i class="fa fa-arrow-left"></i>Go back</a>
	</div>
</div>

<h1>{{username}}</h1>

  <div class="card-panel white">
	    <div class="row">
	    		<div class="col m12 s12 l12">
	    			<div class="row"><div class="input-field col s12 l12">
	      			<input ng-model="password" id="password" type="text" class="validate">
	     		    <label class="active" for="password">Password</label> </div></div>
	     		    <div class="row"> <div class="input-field col s12 l12">
	     		    <input ng-model="newpassword" id="newpassword" type="text" class="validate">
	     		    <label class="active" for="newpassword">New Password</label> </div></div>	
	     		     <div class="row"> <div class="input-field col s12 l12">
	     		    <input ng-model="newpasswordre" id="newpassword2" type="text" class="validate">
	     		    <input ng-model="email" id="email" type="text" class="validate" hidden>
	     		    <label class="active" for="newpassword1">New Password repeat</label> </div></div>	</div>
	     		<div style="float:right"><a class="waves-effect waves-light btn" id="button" ng-click="reset(password,newpassword,newpasswordre,email)"> Reset</a></div></div>

					
	     		</div>
	