<h2>{{title}}</h2>

	<div ng-repeat="row in users">
		<ul class="collection">
        	<li class="collection-item"> <div style="float:left"><a href="#/user/{{row.username}}"">{{row.username}}</a></div><div align="right"><a class="waves-effect waves-light btn" id="button" onClick="myFunction()">Expand</a></div></li> 

   	    </ul>
   	    <ul class="collection" id="expanduser" style="display:none",  >
   	    <div>
	   	    <li class="collection-item">
	        <p>Firstname: {{row.firstname}}</p>
	        <p>Secondname: {{row.lastname}}</p>
	        <p>Contact number: {{row.contactNo}}</p>
	        <p>Country: {{row.country}}</p>
	        <p>Email: {{row.email}}</p>
	        <p>Gender: {{row.gender}}</p>
	        <p>Univertity: {{row.University}}</p>
	        <p>Status: {{row.status}}</p>
	        <p>Matriculation number: {{row.matricNo}}</p>
	        <p>Degree: {{row.degreeSubject}}</p>
	        <p>Year of Study: {{row.yearofstudy}}</p>
	        <p>User Group: {{row.usergroup}}</p>
	       <div> </div>

	    </li>

   	    </div>
   	    </ul>
   	</div>

	
