<h2>{{title}}</h2>

	<div ng-repeat="row in users">
		<ul class="collection">
        	<li class="collection-item"> <div style="float:left"><a href="#/users/{{row.username}}"">{{row.username}}</a></div><div align="right"><a class="waves-effect waves-light btn" id="button" onClick="myFunction()">Expand</a></div></li> 

   	    </ul>
   	    <ul class="collection" id="expanduser" style="display:none",  >
   	    <div>
	   	    <li class="collection-item">
	        <p>Firstname:{{row.firstname}}</p>
	        <p>Secondname:{{row.lastname}}</p>
	        <p>{{row.contactNo}}</p>
	        <p>{{row.country}}</p>
	        <p>{{row.email}}</p>
	        <p>{{row.gender}}</p>
	        <p>{{row.University}}</p>
	        <p>{{row.status}}</p>
	        <p>{{row.matricNo}}</p>
	        <p>{{row.degreeSubject}}</p>
	        <p>{{row.yearofstudy}}</p>
	        <p>{{row.usergroup}}</p>
	    </li>

   	    </div>
   	    </ul>
   	</div>

	
