<div class="row">
	<div class="col s12 m1">
		<p></p>
	</div>
	<div class="col s12 m10">
	<h1>{{title}}</h1>
		<table>
			<thead>
				<tr>
					
					<th >Title</th>
					<th >Points</th>
					<th >Passmark</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="quiz in quizzes">
					<td><b>{{quiz.quiz_title}}<b></td>
					<td><div class="chip">
						{{quiz.points}}
					</div></td>
					<td><b>{{quiz.passmark}}<b></td>
					<td><a href="#/quiz/{{quiz.quiz_id}}" class="waves-effect waves-light btn">View Quiz</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col s12 m1">
		<p></p>
	</div>
</div>