.wrapper {
  background: url('assets/images/background.jpg') center / cover;
}

@media screen and (max-width: 1025px) {
    .wrapper .mdl-layout__header,
    .wrapper .mdl-layout__drawer-button {
      /* This background is dark, so we set text to white. Use 87% black instead if
         your background is light. */
         padding:6px;
      color: #fff;
    }
    .mdl-layout__content {
        margin-top:0px;
    }

    .clearfix {
        display:none;
    }

    .menu h2 {
        font-size:2em;
    }

    .header {
        height:100px;
    }

    .mdl-layout__drawer-button {
        display:initial!important;
    }

    .mdl-layout__header {
        display:initial!important;
    }


}

@media screen and (min-width: 1025px) {
    .wrapper .mdl-layout__header,
    .wrapper .mdl-layout__drawer-button {
      /* This background is dark, so we set text to white. Use 87% black instead if
         your background is light. */
         padding:0;
      color: white;
    }

    .mdl-layout__content {
        margin-top:0px;
    }

    nav {
        display:inital;
    }

    .mdl-layout__drawer-button {
        display:none!important;
    }


}


.mdl-cell {
    background-color: #e3e3e3;
}




.mdl-layout__content {
    background-color: #fff;

}

.menu-wrap {
    width:100%;
}

.header {
    width:100%;
    height:200px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

}

.header h2 {
    text-align:center;
    font-weight:800;
    color:#fff;
}

.header img {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mdl-layout__header {
    background-color:transparent!important;
}




/*   Fonts     */
html
{
    font-family: 'Open Sans';
}


/* Navigation */

nav.menu {
    height:100%;
}

.clearfix:after {
    display:block;
    clear:both;
}

.menu a {
    color:#fff;
    text-decoration: none;
}
.menu a:hover {
    color:#e3e3e3;
    text-decoration: underline;
}
 

 
/* Main Navigation items */
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
}
 
 
/* Main Navigation sub items*/
.menu li:hover .sub-menu {
    z-index:100;
    display:initial;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    display: none;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:rgba(38,50,56,0.9);
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:rgba(38,50,56,0.9);
}


/*  Sidebar navigation   */
.mdl-navigation .subitem {
    background-color: #e3e3e3;
    color:#fff;
}