<!DOCTYPE html>
<html lang="en" ng-app="app" class="no-js" ng-controller="appCtrl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{{data.title}}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bower_components/Materialize/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
     <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css"/>
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
    <!-- <link href="app.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
    <link rel="stylesheet" href="menu.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link  rel="stylesheet"href="bower_components/sc-date-time/dist/sc-date-time.css"/>
    <link rel="stylesheet" href="directives/kuizu/kuizu.css"/>
    <!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/> -->
  </head>
  <body>
    <div class="naviCtrl" ng-controller="navigationCtrl">
    <nav class="grey admin_panel" role="navigation" ng-show="admineditor">

      <ul class="center left navigaiton hide-on-med-and-down">
          <span ng-repeat="item in admin_items track by $index" >
          <li class="dropdown-button" ng-show="item.subitems" data-activates="dropdown{{$index}}"><a href="{{item.link}}" ng-bind="item.title"><i class="fa fa-chevron-down right" ></i></a></li>
          <ul ng-repeat="item in admin_items track by $index" id="dropdown{{$index}}" class="dropdown-content admin" ng-show="item.subitems">
        <li ng-repeat="subitem in item.subitems  track by $index" ng-show="item.subitems"><a href="{{subitem.link}}" ng-bind="subitem.title"></a></li>
        
      </ul>
          <li ng-hide="item.subitems" class="subitem" ><a href="{{item.link}}" ng-bind="item.title"></a></li>
          
          </span>
        </ul>
    </nav>
      <!-- <ul ng-repeat="item in items track by $index" id="dropdown{{$index}}" class="dropdown-content" ng-show="item.subitems">
        <li ng-repeat="subitem in item.subitems  track by $index" ng-show="item.subitems"><a href="{{subitem.link}}" ng-bind="subitem.title"></a></li>
        
      </ul> -->
      <nav class="light-blue lighten-1" role="navigation">
        
<div class="nav-wrapper container "><a id="logo-container" href="#/" class="brand-logo">The Enterprise Gym</a>

        
        <br>
        <ul class="center left navigaiton hide-on-med-and-down">
          <span ng-repeat="item in items track by $index" >
          <li class="dropdown-button" ng-show="item.subitems" data-activates="dropdown{{$index}}"><a href="{{item.link}}" ng-bind="item.title"><i class="fa fa-chevron-down right" ></i></a></li>
          <ul ng-repeat="item in items track by $index" id="dropdown{{$index}}" class="dropdown-content" ng-show="item.subitems">
        <li ng-repeat="subitem in item.subitems  track by $index" ng-show="item.subitems"><a href="{{subitem.link}}" ng-bind="subitem.title"></a></li>
        
      </ul>
          <li ng-hide="item.subitems" class="subitem" ><a href="{{item.link}}" ng-bind="item.title"></a></li>
          
          </span>
        </ul>
        <!--  sidebar   -->
        <ul id="nav-mobile" class="side-nav">
          <div class="items" ng-repeat="item in items track by $index">          
            <li><a ng-show="item.subitems" ng-click="clicked = !clicked">{{item.title}}</a><a ng-hide="item.subitems" href="{{item.link}}">{{item.title}}</a></li>

            <div class="subitems" ng-repeat="subitems in item.subitems" ng-show="clicked">
              <li><a href="{{subitems.link}}">{{subitems.title}}</a></li>
            </div>
          </div>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div ng-view ></div>
    </div>
  </div>
  
  <!--   Icon Section   -->
  <!-- <div class="row">
    <div class="col s12 m4">
      
    </div>
    <div class="col s12 m4">
      
    </div>
    <div class="col s12 m4">
      
    </div>
  </div> -->
  
  
  
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">{{data.title}}</h5>
          <p class="grey-text text-lighten-4">{{data.description}}</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!/pages/contact">Contact</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">The Enterprise Gym</a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
  <script src="bower_components/Materialize/dist/js/materialize.min.js"></script>
  <!-- <script src="js/init.js"></script> -->
  <!-- Views -->
  <script src="app.js"></script>
  <!-- Views -->
  <script src="views/home/home.js"></script>
  <script src="views/users/users.js"></script>
  <script src="views/news/news.js"></script>
  <script src="views/login/login.js"></script>
  <script src="views/admin/newsManager/newsManager.js"></script>
  <script src="views/admin/newUsers/newUsers.js"></script>
  <script src="views/events/events.js"></script>
  <script src="views/admin/admin/admin.js"></script>
  <script src="views/pages/pages.js"></script>
  <script src="views/my/my.js"></script>
  <script src="views/admin/points/points.js"></script>
  <script src="views/quiz/quiz.js"></script>
  <!-- Angular Directives -->
  <script src="directives/egHeader/egHeader.js"></script>
  <script src="directives/kuizu/Kuizu.js"></script>
  <!-- Bower Dependencies -->
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script type="text/javascript" src="assets/js/tinymce/tinymce.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="bower_components/angular-hamburger-toggle/dist/angular-hamburger-toggle.min.js"></script>
  <script src="bower_components/angular-toastr/dist/angular-toastr.min.js"></script>
  <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
  <script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>
  <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
  <!-- Material Angular Dependencies -->
  <script src="bower_components/Materialize/dist/js/materialize.min.js"></script>
  <script src="bower_components/Materialize/extras/noUiSlider/nouislider.min.js"></script>
  <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
  <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
  <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
  <script src="config.js"></script>
  <!-- <script src="/bower_components/ng-pickadate/ng-pickadate.min.js"></script>
  <script src="/bower_components/Materialize/js/date_picker/picker.js"></script>
  <script src="/bower_components/Materialize/js/date_picker/picker.date.js"></script> -->
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
   <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="bower_components/sc-date-time/dist/sc-date-time.js"></script>
  <script src="assets/js/jquery.fitvids.js"></script>
  <script src="assets/js/draggable-list.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script>(function($){
  $(function(){
  $('.button-collapse').sideNav();
  }); 

  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("#ytplayer").fitVids();
  });
  })(jQuery); // end of jQuery name space
  </script>
</body>
</html>