<div class="row">
	<div class="col s1"><h3>{{title}}</h3></div>
</div>
<div class="row">
	<div class="col s12 m4 l1">
	<p></p>
	</div>
	<div class="col s12 m4 l7">
		<p></p>
		
	</div>
	<div class="col s12 m4 l4">
		<div class="card">
				<!-- <div  ui-calendar="uiConfig.calendar" ng-model="eventSources"></div> -->
		</div>
		<div class="card">
			
			<iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FEnterpriseGym&amp;width=305&amp;colorscheme=light&amp;show_faces=false&amp;border_color=%23315c99&amp;stream=true&amp;header=false&amp;height=395" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:305px; height:395px; background-color: #FFFFFF;" allowtransparency="false"></iframe>
		
		</div>
	</div>
</div>