<div class="row">
	<div class="col s12 m1">
		<p></p>
	</div>
	<div class="col s12 m10">
		<h1>Events</h1>
		<table>
			<thead>
				<tr>
					<th ></th>
					<th >Title</th>
					<th >Description</th>
					<th >When</th>
					<th>Where</th>
					<th>Points available</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in events">
					<td><a href="#/events/{{event.id}}" class="waves-effect waves-light btn">View Event</a></td>
					<td><b>{{event.name}}<b></td>
					<td>{{event.description | cut:true:10}}</td>
					<!-- <td><span am-time-ago="event.startDate"></span></td> -->
					<td>{{event.startDate | amCalendar}}</td>
					<td>{{event.venue}} @ {{event.location}}</td>
					<td><div class="chip">
						{{event.points}}
					</div></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col s12 m1">
		<p></p>
	</div>
</div>