<h3>{{title}}</h3>
<div class="row">
	<div class="col s12 m4">
		<p></p>
	</div>
	<div class="col s12 m4">
		<div class="error" ng-show="error">There was an error logging you in</div>
		<form name="login" ng-submit="userlogin(user)">
			<div class="col s12 m6">
				<p>Username:<br>
					<input type="text" name="user.username" ng-model="user.username" required>
				</p>
			</div>
			<div class="col s12 m6">
				<p>Password:<br>
					<input type="password" name="user.password" ng-model="user.password" required>
				</p>
			</div>
			<p>
				<input class="waves-effect waves-light btn" type="submit" value="login">
			</p>
		</form>
	</div>
	<div class="col s12 m4">
		<p></p>
	</div>
</div>