<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>{{title}}</h3>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col">
<!--div class="error" ng-show="error">There was an error logging you in</div-->

    <form name="register" ng-submit="userregister(user)">

      <p>Username:<br>
        <input name="user.username" ng-model="user.username" required type="text">
      </p>

      <p>Password:<br>
        <input name="user.password" ng-model="user.password" required type="password">
      </p>

      <p>First Name:<br>
        <input name="user.firstname" ng-model="user.firstname" required type="text">
      </p>

      <p>Last Name:<br>
        <input name="user.lastname" ng-model="user.lastname" required type="text">
      </p>

      <p>Gender:<br><br>
        <select class="browser-default" ng-model="user.gender">
          <option value="" disabled selected>Choose your gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </p><br>

      <p>Email:<br>
        <input name="user.email" ng-model="user.email" required type="text">
      </p>

      <p>Contact Number:<br>
        <input name="user.contactnumber" ng-model="user.contactnumber" required type="text">
      </p>

      <p>Country:<br>
        <input name="user.country" ng-model="user.country" required type="text">
      </p>

      <script type="text/javascript">
        function checkValue(val) {
          if (val="other")
            document.getElementById('uni').style.display='block'
          else
            document.getElementById('uni').style.display='none';
        }
      </script>

      <p>University:<br><br>
        <select name="uni" ng-model="user.university" class="browser-default" >
          <option value="" disabled selected>Choose your university </option>
          <option value="dundeeuni">University of Dundee</option>
          <option value="abertayuni">University of Abertay</option>
					<option value="dundeecollege">Dundee College</option>
          <option value="other">Other</option>
					<option value="none">None</option>
        </select>

        <!--p ng-bind="user.university"></p>
        <input type="text" name="uni" id="uni" ng-if="user.univerity === 'other'"/>
      </p><br-->


      <p>Status:<br><br>
        <select name="university" ng-model="user.status" class="browser-default" >
          <option value="" disabled selected>Choose your student status</option>
          <option value="undergraduate">Undergraduate</option>
          <option value="graduate">Graduate</option>
          <option value="postgraduate">Postgraduate</option>
          <option value="alumni">Alumni</option>
          <option value="staff">Staff</option>
          <option value="event">Event</option>
          <option value="other">Other</option>
          <option value="none">None</option>
        </select>
      </p><br>

      <p>Subject:<br>
        <input name="user.subject" ng-model="user.subject" required type="text">
      </p>

      <p>Matriculation Number:<br>
        <input name="user.matricnumber" ng-model="user.matricnumber" required type="text">
      </p>

      <p>
      <input type="checkbox" ng-model="master" id="test5" />
      <label for="test5">I am member of the Young Enterpreneurs Society</label>
    </p>

			<label>Young Entrepreneurs Society</label><br/>
			Tick here if you wish to become a member of the Young Entrepreneurs Society.
			<a href="http://www.youngentrepreneursociety.org.uk/">For more information on Y.E.S click here</a>.<br/><br/>

      <p>Year of Study:<br><br>
        <select class="browser-default" ng-model="user.yearofstudy">
          <option value="" disabled selected>Choose your year of study</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </p><br>

      <p>Biography:<br>
        <input name="user.bio" ng-model="user.bio" required type="text">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>

  </div>
  <div class="mdl-cell mdl-cell--4-col">4</div>
</div>
