<div class="admin">
	<b><h1  ng-bind="active | uppercase">Admin Panel</h1></b>


</div>
<div class="row">
	<div class="col s1">
		<p></p>
	</div>
	<div class="col s1-">
		<h1>{{title}}</h1>


  

		<div class="row" ng-hide="events">
			<div class="col s12 m8">
				<div class="card-panel blue" ng-hide="events">
					<span class="white-text">
						<h4><b>Sorry</b></h4>
						<p>You don't seem to have any events..</p>
					</span>
				</div>
			</div>
		</div>
		
		
		<table>
			<thead>
				<tr>
					<th data-field="id">Event name</th>
					<th data-field="name">Description</th>
					<th data-field="price">Start Date</th>
					<th data-field="email">End Date</th>
	
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in events">
					<td><a href="#/events/{{event.id}}">{{event.name | cut:true:25}}</a></td>
					<td>{{event.description | cut:true:100}}</td>
					<td>{{event.startDate  | amCalendar}}</td>
					<td>{{event.endDate | amCalendar}}</td>

				</tr>
			</tbody>
		</table>

	</div>
	<div class="col s1">
		<p></p>
	</div>
</div>